@model IEnumerable<InventarioRForever.Models.Material>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NombreMaterial)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CodCategoriaNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CodInventarioNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CodTipoMaterialNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NombreMaterial)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CodCategoriaNavigation.CodCategoria)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CodInventarioNavigation.CodInventario)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CodTipoMaterialNavigation.CodTipoMaterial)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.CodMaterial">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.CodMaterial">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.CodMaterial">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
